<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Frigate Alarm Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="box">
      <h1>Frigate Alarm Dashboard</h1>
    </div>
    <div class="box">
      <h2>Set Alarm Time</h2>
      <div class="time-inputs">
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" value="22:00" step="600">
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" value="08:00" step="600">
        <label class="switch">
          <input type="checkbox" id="toggle">
          <span class="slider round"></span>
        </label>
        <p id="statusText">Alarm is <span id="status">off</span></p>
        <p id="errorMessage" class="error-message" style="display:none;">Please set both start and end times before activating the alarm.</p>
        <p id="setTimes" style="display:none;">Alarm set from <span id="displayStartTime"></span> to <span id="displayEndTime"></span></p>
      </div>
    </div>
    <div class="box">
      <h2>Events</h2>
      <div class="events-table-container">
        <table class="events-table" id="eventsTable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Label</th>
              <th>Camera</th>
              <th>Score</th>
              <th>False Positive</th>
              <th>Start Time</th>
              <th>Stationary</th>
            </tr>
          </thead>
          <tbody id="eventsBody">
            <!-- Events will be dynamically added here -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
